.BannerImgAbout-container {
    margin: 0 50px 20px 50px;
    .BannerImgAbout-img {
        background-image: url('../assets/img_about.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        overflow: hidden;
        padding: 70px 0;
    }
}
