.container {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #ff6060;
    .cards-container {
        margin: 0 50px;
        .card-img {
            height: 300px;
            width: 100%;
            border-radius: 8px;
            margin-bottom: 30px;
            img {
                height: 300px;
            }
        }
        .card-infos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                margin: 0;
                font-weight: 600;
                font-size: 28px;
            }
            .infos-host {
                display: flex;
                align-items: center;
                justify-content: right;
                width: 200px;
                .img {
                    width: 50px;
                    height: 50px;
                    background: grey;
                    border-radius: 30px;
                    margin-left: 10px;
                    overflow: hidden;
                    display: flex;
                }
                .name {
                    width: 80px;
                    text-align: right;
                }
            }
        }
        .card-tags-and-rating {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0;
            .tags {
                color: white;
                background-color: #ff6060;
                padding: 5px 30px;
                border-radius: 15px;
                margin-right: 15px;
                font-size: 12px;
            }
            .star {
                margin-left: 5px;
            }
        }
        .card-collapse {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
        }
    }
}
