.container-cil {
    display: flex;
    flex-direction: column;

    .collapse-container {
        padding: 10px;
        border-radius: 8px;
        width: 500px;
        margin: 10px auto;
        color: white;
        background-color: #ff6060;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        .collapse-window {
            margin: 0 auto;
            display: none;

            &.window-down {
                display: flex;
            }
        }
    }

    .window-content {
        padding: 15px;
        width: 490px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        top: -15px;
        z-index: 1;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;

        &.d-block {
            display: block;
            background: #f1f1f1;
        }

        &.d-none {
            display: none;
        }

        .collapse-text-or-array {
            color: black;
            margin: 0;
            display: flex;
            flex-direction: column;

            .window-down & {
                color: blue;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .container-cil {
        width: 100%;
        .collapse-container {
            width: 100%;
        }
        .window-content {
            padding: 15px 10px;
            width: 100%;
            color: black;
            font-weight: 200;
        }
    }
}
