.footer {
    width: 100vw;
    background: black;
    color: white;
    margin: 20px 0 0 0;
    overflow: hidden;
    // position: relative;
    // margin-top: auto;
    .footer-logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 10px 0;
        .footer-logo {
            width: 100px;
        }
    }
    .footer-text {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (max-width: 480px) {
    .footer {
        .footer-text {
            padding: 0 0 20px 0;
            width: 100px;
            margin: 0 auto;
            font-size: 12px;
            text-align: center;
        }
    }
}
