.footer {
  width: 100vw;
  background: black;
  color: white;
  margin: 20px 0 0 0;
  overflow: hidden;
}
.footer .footer-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 10px 0;
}
.footer .footer-logo-wrapper .footer-logo {
  width: 100px;
}
.footer .footer-text {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 480px) {
  .footer .footer-text {
    padding: 0 0 20px 0;
    width: 100px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }
}
.banner {
  margin: 0 50px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.banner img {
  width: 130px;
}
.banner .banner-text-wrapper {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}
.banner .banner-text-wrapper span {
  margin: 0 10px;
  color: #ff6060;
}
.banner .banner-text-wrapper span:hover {
  border-bottom: 2px solid black;
}
.banner a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .banner {
    margin: 0 10px;
  }
  .banner img {
    width: 90px;
  }
  .banner .banner-text-wrapper span {
    font-size: 14px;
  }
}
.UnderBannerImg-container {
  position: relative;
  margin: 0 50px;
}
.UnderBannerImg-container .UnderBannerImg-bg {
  background-image: url("../assets/img_banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
}
.UnderBannerImg-container .UnderBannerImg-bg .UnderBannerImg-title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  position: relative;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.UnderBannerImg-container .UnderBannerImg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-image: linear-gradient(rgba(77, 76, 76, 0.5), rgba(77, 76, 76, 0.5));
}

@media only screen and (max-width: 480px) {
  .UnderBannerImg-container {
    margin: 0 10px;
  }
  .UnderBannerImg-container .UnderBannerImg-bg {
    padding: 10px;
  }
  .UnderBannerImg-container .UnderBannerImg-bg .UnderBannerImg-title {
    text-align: left;
    padding: 10px 0;
  }
  .UnderBannerImg-container .UnderBannerImg-bg .UnderBannerImg-title h1 {
    font-size: 22px;
    margin: 0;
  }
}
.container {
  overflow: hidden;
}
.container .notfound-infos {
  margin: 50px 50px 80px 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
}
.container .notfound-infos .error {
  font-size: 150px;
  font-weight: bold;
  margin: 0 0 40px 0;
}
.container .notfound-infos .message {
  margin: 0 0 60px 0;
  font-size: 18px;
  font-weight: bold;
}
.container .notfound-infos .link, .container .notfound-infos link:active {
  color: inherit;
}

.container {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}
.container .cards-container {
  margin: 0 50px;
}
.container .cards-container .card-img {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .cards-container .card-img img {
  height: 300px;
}
.container .cards-container .card-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .cards-container .card-infos h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
}
.container .cards-container .card-tags-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}
.container .cards-container .card-collapse {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.BannerImgAbout-container {
  margin: 0 50px 20px 50px;
}
.BannerImgAbout-container .BannerImgAbout-img {
  background-image: url("../assets/img_about.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  padding: 70px 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .collapse-container {
  padding: 10px;
  border-radius: 8px;
  width: 800px;
  margin: 10px auto;
  color: white;
  background-color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.container .collapse-container .collapse-window {
  margin: 0 auto;
  display: none;
}
.container .collapse-container .collapse-window.window-down {
  display: flex;
}
.container .window-content {
  padding: 15px;
  width: 790px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  top: -15px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container .window-content.d-block {
  display: block;
  background: #f1f1f1;
}
.container .window-content.d-none {
  display: none;
}
.container .window-content p {
  color: black;
  margin: 0;
}
.window-down .container .window-content p {
  color: blue;
}

.card-section-container {
  margin: 20px 10px;
  background: whitesmoke;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .card-section-container {
    padding: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
a {
  text-decoration: none;
}
a .logement-card {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
a .logement-card .logement-title {
  position: relative;
  top: 250px;
  left: 20px;
  z-index: 5;
  display: block;
  width: 250px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size: 16px;
  text-decoration-line: none;
}

@media only screen and (max-width: 480px) {
  a .logement-card {
    width: 100%;
    height: 255px;
    position: relative;
    z-index: 2;
  }
  a .logement-card img {
    width: 100%;
    height: 100%;
  }
  a .logement-card .logement-title {
    position: relative;
    top: -50px;
    left: 20px;
    z-index: 5;
    display: block;
    width: 250px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    text-decoration-line: none;
  }
}
.infos-host {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 200px;
}
.infos-host .img {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 30px;
  margin-left: 10px;
  overflow: hidden;
  display: flex;
}
.infos-host .name {
  width: 80px;
  text-align: right;
}

.container-cil {
  display: flex;
  flex-direction: column;
}
.container-cil .collapse-container {
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  margin: 10px auto;
  color: white;
  background-color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.container-cil .collapse-container .collapse-window {
  margin: 0 auto;
  display: none;
}
.container-cil .collapse-container .collapse-window.window-down {
  display: flex;
}
.container-cil .window-content {
  padding: 15px;
  width: 490px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  top: -15px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container-cil .window-content.d-block {
  display: block;
  background: #f1f1f1;
}
.container-cil .window-content.d-none {
  display: none;
}
.container-cil .window-content .collapse-text-or-array {
  color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.window-down .container-cil .window-content .collapse-text-or-array {
  color: blue;
}

.chevronLeft, .chevronRight {
  position: relative;
  font-size: 50px;
  color: white;
}

.chevronRight {
  margin: 0 25px 0 0;
}

.chevronLeft {
  margin: 0 0 0 25px;
}

.counter {
  font-size: 18px;
  color: white;
  position: relative;
  bottom: -120px;
  text-shadow: 1px 1px 2px black;
}

.star {
  color: lightgrey;
  margin-left: 5px;
}

.star-colored {
  color: #ff6060;
}

.card-tags {
  display: flex;
  margin: 0;
  padding: 0;
}
.card-tags .tags {
  color: white;
  background-color: #ff6060;
  padding: 5px 20px;
  border-radius: 15px;
  margin-right: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}/*# sourceMappingURL=Index.css.map */